extends layout


block content
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    .container
        h1 Question Bank
        include ./includes/messages.pug
        form(method='POST' action='/question/add')
            div.form-group
                label(for='question') Please enter a question:
                input#question.form-control(type='text', placeholder='Question Text' name='question')
            div.form-group
                label(for='answer') Answer:
                input#answer.form-control(type='text', placeholder='' name='answer')
            div.form-group
                label Category:
                input(type='radio', name='category' value='Definitions' checked)
                label Definitions
                input(type='radio', name='category' value='Famous People')
                label Famous People
                input(type='radio', name='category' value='Acronyms')
                label Acronyms
                input(type='radio', name='category' value='Movie Headlines')
                label Movie Headlines
                input(type='radio', name='category' value='Ludicrous Laws')
                label Ludicrous Laws
            button.btn.btn-primary(type='submit') Save Question
        br
    .container
        h4 Question Viewer
        p Categories -- Click heading to collapse
        .panel-group
            .panel.panel-default
                .panel-heading
                    h4.panel-title
                        a(data-toggle='collapse', href='#collapse1') Definitions
                #collapse1.panel-collapse.collapse
                    ul
                        each question, i in questions
                            if(question.category == 'Definitions')
                                li(title=question.category)
                                    a(href='/question/edit/'+question._id title=question.category) #{question.question}
        .panel-group
            .panel.panel-default
                .panel-heading
                    h4.panel-title
                        a(data-toggle='collapse', href='#collapse2') Famous People
                #collapse2.panel-collapse.collapse
                    ul
                        each question, i in questions
                            if(question.category == 'Famous People')
                                li(title=question.category)
                                    a(href='/question/edit/'+question._id title=question.category) #{question.question}
        .panel-group
            .panel.panel-default
                .panel-heading
                    h4.panel-title
                        a(data-toggle='collapse', href='#collapse3') Acronyms
                #collapse3.panel-collapse.collapse
                    ul
                        each question, i in questions
                            if(question.category == 'Acronyms')
                                li(title=question.category)
                                    a(href='/question/edit/'+question._id title=question.category) #{question.question}
        .panel-group
            .panel.panel-default
                .panel-heading
                    h4.panel-title
                        a(data-toggle='collapse', href='#collapse4') Movie Headlines
                #collapse4.panel-collapse.collapse
                    ul
                        each question, i in questions
                            if(question.category == 'Movie Headlines')
                                li(title=question.category)
                                    a(href='/question/edit/'+question._id title=question.category) #{question.question}
        .panel-group
            .panel.panel-default
                .panel-heading
                    h4.panel-title
                        a(data-toggle='collapse', href='#collapse5') Ludicrous Laws
                #collapse5.panel-collapse.collapse
                    ul
                        each question, i in questions
                            if(question.category == 'Ludicrous Laws')
                                li(title=question.category)
                                    a(href='/question/edit/'+question._id title=question.category) #{question.question}